.card{
    padding: 2rem;
    border-radius: 20px;
    background-color: var(--card);
    width: 45rem;
    height: 35rem;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    will-change: transform, box-shadow;
    cursor: pointer;

}

.card:hover {
    transform: translateY(-10px); /* Moves the card up */
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); /* Increases the shadow */
  }

  