.contact-button{
    background-color: red;
    font-size: large;
    border-radius: 5px;
    border: 2px solid black; 
    margin-top: 2rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: white;
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
    position: relative;
}


.contact-button {
    transition: transform 0.5s ease, left 0.5s ease, top 0.5s ease;
    /* When the button is not hovering, allow pointer events */
    pointer-events: auto;
  }
  
  .contact-button.hovering {
    /* When the button is hovering, disable pointer events */
    pointer-events: none;
  }