.cv-card{
    box-sizing: border-box;
    background-color: #FFFFFF;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.06);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    will-change: transform, box-shadow;
    cursor: pointer;
    aspect-ratio:  1/1.414 ;

}
.cv-card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.2); 
}
@media (min-width:0px){
    .cv-card{
        
        width: 100%;
    }
}
@media (min-width:800px){
    .cv-card{
        height: 31rem !important;
    }
}
@media (min-width:1500px){
    .cv-card{
        height: 35rem !important;
    }
}
@media (min-width:2000px){
    .cv-card{
        height: 42rem !important;
    }
}

.dialog-overlay-cv {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}
.dialog-card-cv {
    aspect-ratio:  1/1.414 ;
    padding: 1rem;
    border-radius: 20px;
   
    background-color: white;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
    position: relative;
    
  }
  .pdf-wrapper {
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin-top: 20px;
    margin-left: 30px; 
    overflow: hidden;
}
.frame {
    position: absolute;
    background: white;
    z-index: 10;
}
.top-frame, .bottom-frame {
    height: 5px;
    left: 0;
    right: 0;
}
.top-frame {
    top: 0;
}
.bottom-frame {
    bottom: 0;
}
.left-frame, .right-frame {
    top: 0;
    bottom: 0;
}
.left-frame {
    width: 10px; 
    
    left: 0;
}

.right-frame {
    width: 23px; 
    right: 0;
}
object {
    position: relative;
    z-index: 5;
}
@media (max-width: 800px) {
    .dialog-card-cv{
        width: 90%;
        height: auto;
    }
}

@media (min-width: 801px) {
    .dialog-card-cv{
        height: 48rem;
        width: 36rem;
    }
}
.loading-spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);  
    border-top: 8px solid #333;            
    border-radius: 50%;                    
    width: 60px;                           
    height: 60px;                          
    animation: spin 1s linear infinite;    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


