.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensure it's above other content */
}

.dialog-card {
    padding: 2rem;
    border-radius: 20px;
    width: 40rem;
    height: 50rem;
    background-color: var(--card);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001; /* Above the overlay */
    position: relative;
    
  }