.cv-skeleton{
    position: absolute;
    z-index: 1007;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
}
.cv-skeleton .title{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 10%;
    width: 100%;
    margin-bottom: 1rem;
}
.cv-skeleton .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background-color: white;
}
.cv-skeleton .left-col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 45%;
    height: 100%;
}
.cv-skeleton .right-col{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.cv-skeleton .box{
    background-color: #e1e3ea;
    border-radius: 10px;
    background: linear-gradient(to right, #e1e3ea 25%, #f5f5f7 50%, #e1e3ea 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite linear;
}
.cv-skeleton .text{
    height: 2rem;
    border-radius: 5px;
    background-color: #e1e3ea;
    background: linear-gradient(to right, #e1e3ea 25%, #f5f5f7 50%, #e1e3ea 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite linear;
}
.cv-skeleton .circle{
    border-radius: 50%;
    margin-right: 5%;
}

@keyframes loading {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }