
  @media (max-width: 800px){
    .dialog-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000; 
  }
  
  .dialog-card {
    margin-top: 2rem;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 20px;
    width: 90%;
    height: auto;
    background-color: var(--card);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
    max-height: 90vh;
    overflow-y: auto;
    }
  
  .detail-title{
      font-size: x-large;
      font-family: arial;
      margin-bottom: 2rem;
  }
  .left-flex-col-container{
    display: flex;
    flex-direction: column;
   
    justify-content: start;
    margin-left: 2rem;
  }
    .computer {
      width: 100%;
      height: fit-content;
    }
    .center-img {
      display: block;
      height: auto;
      width: 85%;
    }
    .p-img{
      width: 100%;

    }
    .description{
  
      width: 100%;
      font-size: 0.7rem;
      margin-top: -0.5rem;

    }
    .close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      border: none;
      background: none;
      border: none;
    }
    .center-row{
      display: flex;
      flex-direction: column;
     
      align-items: center;
      gap: 2rem;
    }
  
    .tech-stack-row {
      width: 100%;
    }
  
    .bottom-row{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    .links{

      display: flex;
      justify-content: end;
      gap: 2rem;
    }
    .description p {
      white-space: pre-line;
    }
  
    .right-side-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 50%;
      height: 100%;
    }
  }


  @media (min-width:801px){
    .dialog-overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.7);
      backdrop-filter: blur(5px);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
  }
  
  .dialog-card {
    padding: 2rem;
    border-radius: 20px;
    width: 75rem;
    height: 42rem;
    background-color: var(--card);
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 1001;
   
    }

  .detail-title{
      font-size: x-large;
      font-family: arial;
      margin-bottom: 2rem;
  }
  .left-flex-col-container{
    display: flex;
    flex-direction: column;
   
    justify-content: start;
    margin-left: 2rem;
  }
    .computer {
      width: 40rem;
      height: fit-content;
    }
    .center-img {
      display: block;
      max-width: 38rem;
     
    }
    .description{
  
      width: 100%;
      font-size: 0.75rem;
      margin-top: -0.5rem;
      overflow-y: auto;
      overflow-x: wrap;
    }
    .close-button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      cursor: pointer;
      border: none;
      background: none;
      border: none;
    }
    .center-row{
      display: flex;
      align-items: top;
      gap: 2rem;
    }
  
    .tech-stack-row {
      margin-top: 2rem;
    }
  
    .bottom-row{
      display: flex;
      width: 100%;
      justify-content: flex-end;
    }
    .links{
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      display: flex;
      justify-content: end;
     
     
      gap: 2rem;
    }
    .description p {
      white-space: pre-line;
    }
  
    .right-side-container{
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 50%;
      height: 100%;
    }

  }


  