:root {
  
  /* light */
  --background: #F5F5F7;
  --card-light: #FFFFFF;
  

  /* dark */
  --background-dark: #171717; 
  --card-dark: #212121;
  
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
html{
  height: 100%;
  width: 100%;
}

body { /* lightmode */
  background-color: var(--background);
  color: black;
  --card: var(--card-light);
  --opposite: var(--background-dark);
  --text:black;
  --text-opposite: #ffffff;
}

body.dark { /*darkmode*/
  background-color: var(--background-dark);
  color: #ffffff;
  --card: var(--card-dark);
  --opposite: var(--background);
  --text: #ffffff;
  --text-opposite: #000000;
}

.container{
  margin-left: 5rem;
  margin-right: 1rem;
  /* border: red 1px solid; */
}
@media (max-width: 800px){
  .container{
    margin-left: 0rem;
    width: 100%;

  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.material-symbols-outlined {
  color: var(--color); 
}
.icon-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  color: var(--text);
  
}

.svg-button {
  padding-top: 6px;
  padding-bottom: 9px;
  padding-left: 9px;
  padding-right: 9px;
}

.icon-button:hover{
  background-color: #e9e8e8b4;
}
.top-bar{
  /* margin-bottom:1rem; */
  /* padding-top:1rem; */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  
}

.projectsRow {
  box-sizing: border-box;
  display: flex;
  overflow-x: auto; 
  overflow-y: hidden;
  gap: 1rem; 
  margin: 1rem 0; 
  scrollbar-width: none; 
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  padding-top: 2rem;
  padding-bottom: 4rem;
  width: 100%;

  

}
/* mobile mode */
@media (max-width: 800px){
  .projectsRow{
    
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1rem; 
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    overflow-x: hidden;

    /* background-color: red; */
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  
  }
}

@media (min-width: 2000px){
  .projectsRow{
    margin-top: 9%;
  }
}

.projectsRow::-webkit-scrollbar {
  display: none; 
}

.spacer{
  padding: 2rem;
}
@media (max-width: 800px){
  .spacer{
    padding: 0rem;
  }
}
.title-text{
  font-style: normal;
}
.description-text{
  font-size: x-large;
}
@media (max-width: 800px){
  .title-text{
    font-style: small;
  }
  .description-text{
    font-size: medium;
  }
}

.mobile-version {
  display: none;
}

@media (max-width: 799px) {
  .mobile-version {
    display: block;
    border: 2px solid green;
  }
}

@media (max-width: 799px) {
  .desktop-version {
    /* border: 2px solid red; */
    display: none;
  }
}