.projectsRow {
    height: fit-content;
    display: flex;
    flex-wrap: nowrap; /* Prevent the items from wrapping */
    overflow-x: auto; 
    overflow-y: hidden;
    gap: 1rem; /* Space between the project containers */
    margin: 1rem 0; /* Optional: space above and below the row */
    scrollbar-width: none; 
    -ms-overflow-style: none;
    scroll-behavior: smooth;
    padding: 2rem 0;

  }


  .projectsRow::-webkit-scrollbar {
    display: none; 
  }