.title-img{
    width: 100%;
    height: 100%;
}

@media (min-width: 0px) {
    .title{
        width: 15rem;
    }
}
@media (min-width: 600px) {
    .title{
        width: 28rem;
        height: auto;
    }
}
@media (min-width: 800px) {
    .title{
        width: 30rem;
        height: auto;
    }
}